.Column75 {
  float: left;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.Column25 {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.Row:after {
  content: "";
  display: table;
  clear: both;
}
